@use "../styles/theme.scss" as *;

.about {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg * 2;
    padding: $spacing-lg $spacing-md;
    background-color: $color-background;
    font-family: $font-family;
}

.block {
    background-color: $color-background;
    border-radius: $spacing-md;
    padding: clac($spacing-lg + 0.5rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    direction: rtl;
    text-align: right;
    line-height: 1.5;
    font-size: $font-size-base;
    font-family: "Heebo", sans-serif;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.01);
    }

    h2 {
        font-size: $font-size-xl;
        margin-bottom: $spacing-sm;
        color: $color-secondary;
        border-bottom: 2px solid $color-secondary;
        padding-bottom: $spacing-sm;
    }

    p {
        white-space: pre-line;
    }
}