@use "../styles//theme.scss" as *;

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color-text;
  margin-block-start: $spacing-sm;
}

.select {
  padding: $spacing-sm;
  font-family: $font-family;
  font-size: $font-size-base;
  border: 1px solid $color-secondary;
  border-radius: 6px;
  background-color: white;
  color: $color-text;
}

.error {
    background: $color-accent;
    color: white;
    padding: $spacing-sm;
    border-radius: $spacing-md;
}

input[type="date"],
input[type="time"] {
  direction: ltr;
  text-align: left;
}