@use "../styles/theme.scss" as *;

.root {
    padding: $spacing-lg;
    margin: auto;
    max-width: 1200px;
    background-color: $color-background;

    &[data-large] {
        max-width: 1600px;
    }

    &[data-overflow] {
        overflow-x: auto;
    }
}