@use "../styles/theme.scss" as *;

.passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.togglePasswordVisibilityButton {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: $spacing-sm;
    bottom: $spacing-sm;
    font-size: $font-size-base;
    color: $color-accent;

    &:hover {
        color: $color-secondary;
    }
}