@use "../styles/theme.scss" as *;

.card {
    background-color: $color-background;
    border: 1px solid $color-background;
    border-radius: $spacing-md;
    padding: $spacing-md;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease-in-out;

    h2 {
        color: $color-secondary;
        font-size: $font-size-lg;
        margin-bottom: $spacing-sm;
    }
    
    p {
        font-size: $font-size-base;
        color: $color-text;
        line-height: 1.5;
    }

    &:hover {
        transform: scale(1.03);
    }
}