.about {
    direction: rtl;
    text-align: right;
    padding: 3rem 2rem;
    line-height: 1.5;
    font-family: "Heebo", sans-serif;
    font-size: 1.15rem;
    color: #333;

    h1 {
        font-size: 2.5rem;
        color: #4a2d63;
        margin-bottom: 1.5rem;
    }
    
    p {
        margin-bottom: 1.2rem;
        white-space: pre-line;
    }
}