@use "../styles/theme.scss" as *;

.hero {
    position: relative;
    text-align: center;
    padding: $spacing-lg;
    background-color: $color-primary;
    color: white
}

.cover {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $spacing-sm;
    box-shadow: 0 4px 8px rgba(0, 0, 0 , 0.1);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: $spacing-lg;
    border-radius: $spacing-md;
    max-width: 80%;
    font-size: $font-size-lg;
    line-height: 1.5;
}