@use "../src/styles/theme.scss" as *;

.navContainer {
    position: sticky;
    top: 0;
    background-color: $color-background;
    z-index: 10;
    border-bottom: 1px solid $color-secondary;
}

.appNav {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-md;
    padding: $spacing-md;
    font-family: $font-family;

    a {
        color: $color-secondary;
        font-size: $font-size-base;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
            color: $color-secondary, 20%;
        }
    }
}